In [ ]:
# print('running')
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("titanic_cleaned.csv")

#task 5
#output the new dataframe df_2 that has columns survives name age fare.
#df2 = df.loc[:, ['Survived', 'Name', 'Age', 'Fare']] 
"""
def age_class (row):
    if row['Age'] < 18:
        return "child"
    else:
        return "adult"
"""
#task 6

#df2 = (df.loc[df['Age'] > 1].filter(['Survived', 'Age']))
#df2['Age Class'] = df2.apply(age_class, axis=1)
# assign and where. OR loc[]
df2.loc[df2['Age'] <= 18, 'age_class'] = 'Child'
df2.loc[df2['Age'] > 18, 'age_class'] = 'Adult'
df2.loc[df2['Age'] > 59, 'age_class'] = 'Elderly'

# print(df2)

filtered_df2 = df2[df2['Survived'] == True]

grouped = filtered_df2.groupby('age_class')['Age'].mean()
grouped = grouped.reset_index()
grouped.columns = ['age_class', 'mean']
grouped['mean2'] = grouped['mean'].round(2)

grouped.plot(kind='barh')
plt.title('demoagemeantitanic')
plt.show()

grouped
# pivoted_df2 = grouped.pivot_table(index='Age', columns='age_class', aggfunc='mean')
# print(pivoted_df2)
# pivoted_df2

In [ ]:
import pandas as pd

# print('running')

df = pd.read_csv("titanic_cleaned.csv")

df.head(10)

# title

above is an iloc

create a new dataframe df_2 that has columns survives name age fare.