In [ ]:
import pandas as pd

# print('running')

df = pd.read_csv("titanic_cleaned.csv")

df.head(10)

In [38]:
# print('running')

df = pd.read_csv("titanic_cleaned.csv")

#task 5
#output the new dataframe df_2 that has columns survives name age fare.
#df2 = df.loc[:, ['Survived', 'Name', 'Age', 'Fare']] 

def age_class (row):
    if row['Age'] < 18:
        return "child"
    else:
        return "adult"

df2 = (df.loc[df['Age'] > 10].filter(['Survived', 'Age', 'Name', 'Fare']))
#df2['Age Class'] = df2.apply(age_class, axis=1)
# assign and where. OR loc[]
df2.loc[df2['Age'] <= 18, 'age_class'] = 'Child'
df2.loc[df2['Age'] > 18, 'age_class'] = 'Adult'
df2.loc[df2['Age'] > 59, 'age_class'] = 'Elderly'

#use aggfunc
#pivot table is to make a new table
#what is the reset index?

grouped = df2.groupby('age_class')['Age'].mean().reset_index()
pivoted_df2 = grouped.pivot_table(index='Age', columns='age_class', aggfunc='mean')
data = "titanic_cleaned.csv"
df2 = pd.DataFrame(data)
df2['agegroup'] = ['Age']
print(df2)
pivoted_df2

ValueError: DataFrame constructor not properly called!

# title

above is an iloc

create a new dataframe df_2 that has columns survives name age fare.